body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    overflow: auto;
}

.sacola {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.total {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    color: white;
    background-color: #006A4E;
    min-width: 3rem;
    width: auto;
    height: 3rem;
    border-radius: 2px;
}

.add {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #006A4E;
    width: 3rem;
    height: 3rem;
    border-radius: 2px;
}

h1 {
    color: #006A4E;
}

.protudos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 2px;
    padding: 2px;
    width: 90%;
    height: auto;
}

.tabela {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    background-color: #006A4E;
}

.protudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding: 5px;
    min-height: 20px;
    min-width: 100%;
    height: auto;
}

.checked {
    background-color: #006A4E !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: 2px solid #006A4E;
}
.checked span {
    color: white !important;
}
.protudo:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: 2px solid #006A4E;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #F8F8F8;
    cursor: pointer;
}

.protudo span {
    color: #696969;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    height: auto;
    border-radius: 10px;
}

.buy {}
.eyes {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    gap: 1rem;
    background-color: #F8F8F8;
}
.title {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    min-height: 7%;
    top: 0;
    left: 0;
    background-color: #006A4E;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    gap: 1rem;
    margin-top: 8%;
    min-height: 90%;
    height: auto;
    width: 100%;
    margin-inline: auto;
    overflow: auto;

}
img {
    max-width: 90%;
    height: auto;
    border-left: 3px solid #006A4E;
}
.more {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.more .span {
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap !important;
    color: #006A4E;
    background-color: wheat;
    padding: 10px;
    height: auto;
    border-left: 3px solid #006A4E;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.see {
    background-color: #3A0002;
    color: #F8F8F8;
}